
body {
	background-color: #fff;
	background-image:url("./assets/backgrounds/bg_web_2.png");
    background-repeat: repeat-x;
    touch-action: none;
}
#logo{
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
    touch-action: none;
    user-select: none;
}
#viewport {
    padding: 0;
    margin: auto;
	margin-top:200px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {

    #viewport {
        width: 1224px;
        height: 720px;
    }

}
  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #viewport {
        width: 816px;
        height: 480px;
    }
}
  
 
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {

    #viewport {
        width: 640px;
        height: 360px;
    }

}